VITE_SUPABASE_URL=https://mpdhzvklvyzjwxpvsfkw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wZGh6dmtsdnl6and4cHZzZmt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMTYxOTgsImV4cCI6MjA5NzY5MjE5OH0.d4aEwBbS-bKVC1KiDsGYzaIXI1WpDUQJFdt6buKHyO4
